<!-- wp:columns {"blockClientId":"a21f1e60-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background gutenify-section-a21f1e60-5f9c-11ef-b005-51ab07cddc8e"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","blockClientId":"a21dbed0-5f9c-11ef-b005-51ab07cddc8e","backgroundColor":"background","layout":{"wideSize":""}} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-a21dbed0-5f9c-11ef-b005-51ab07cddc8e"
    style="flex-basis: 400px"
  >
    <!-- wp:template-part {"slug":"header","theme":"gutenify-biography","blockClientId":"a21d97c0-5f9c-11ef-b005-51ab07cddc8e"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","blockClientId":"a21ed040-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
 <!-- wp:pattern {"slug":"gutenify-biography/hidden-404"} /-->
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
