<!-- wp:columns {"blockClientId":"890eb100-5ef3-11ef-b050-7d87dd637066","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background gutenify-section-890eb100-5ef3-11ef-b050-7d87dd637066"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","blockClientId":"890c6710-5ef3-11ef-b050-7d87dd637066","backgroundColor":"background","layout":{"wideSize":""}} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-890c6710-5ef3-11ef-b050-7d87dd637066"
    style="flex-basis: 400px"
  >
    <!-- wp:template-part {"slug":"header","theme":"gutenify-biography","blockClientId":"890c4000-5ef3-11ef-b050-7d87dd637066"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","blockClientId":"890e89f1-5ef3-11ef-b050-7d87dd637066","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-890e89f1-5ef3-11ef-b050-7d87dd637066"
    style="
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    "
  >
    <!-- wp:group {"blockClientId":"890e62e1-5ef3-11ef-b050-7d87dd637066","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
    <div
      class="wp-block-group has-background-background-color has-background gutenify-section-890e62e1-5ef3-11ef-b050-7d87dd637066"
      style="
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
      "
    >
      <!-- wp:group {"blockClientId":"890cb530-5ef3-11ef-b050-7d87dd637066","align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}},"border":{"bottom":{"color":"var:preset|color|border","width":"2px"},"top":[],"right":[],"left":[]}},"layout":{"inherit":true,"type":"constrained"}} -->
      <div
        class="wp-block-group alignwide gutenify-section-890cb530-5ef3-11ef-b050-7d87dd637066"
        style="
          border-bottom-color: var(--wp--preset--color--border);
          border-bottom-width: 2px;
          padding-top: 40px;
          padding-right: 40px;
          padding-bottom: 40px;
          padding-left: 40px;
        "
      >
        <!-- wp:group {"blockClientId":"890c8e21-5ef3-11ef-b050-7d87dd637066","align":"wide","style":{"spacing":{"blockGap":"0px"}},"fontSize":"content-heading","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
        <div
          class="wp-block-group alignwide has-content-heading-font-size gutenify-section-890c8e21-5ef3-11ef-b050-7d87dd637066"
        >
          <!-- wp:post-title {"blockClientId":"890c8e20-5ef3-11ef-b050-7d87dd637066"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"blockClientId":"890e62e0-5ef3-11ef-b050-7d87dd637066","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|40","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40"},"blockGap":"0px"}},"layout":{"inherit":true,"type":"constrained"}} -->
      <div
        class="wp-block-group gutenify-section-890e62e0-5ef3-11ef-b050-7d87dd637066"
        style="
          padding-top: var(--wp--preset--spacing--50);
          padding-right: var(--wp--preset--spacing--40);
          padding-bottom: var(--wp--preset--spacing--50);
          padding-left: var(--wp--preset--spacing--40);
        "
      >
        <!-- wp:query {"queryId":1,"query":{"perPage":"8","pages":"","offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","blockClientId":"890e3bd1-5ef3-11ef-b050-7d87dd637066","align":"wide","layout":{"type":"default"}} -->
        <main
          class="wp-block-query alignwide gutenify-section-890e3bd1-5ef3-11ef-b050-7d87dd637066"
        >
          <!-- wp:post-template {"blockClientId":"890dedb0-5ef3-11ef-b050-7d87dd637066","align":"wide","layout":{"type":"grid","columnCount":3}} -->
          <!-- wp:group {"blockClientId":"890d7880-5ef3-11ef-b050-7d87dd637066","className":"has-shadow-dark animated animated-fadeInUp","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"background-secondary","layout":{"inherit":true,"type":"constrained"}} -->
          <div
            class="wp-block-group has-shadow-dark animated animated-fadeInUp has-background-secondary-background-color has-background gutenify-section-890d7880-5ef3-11ef-b050-7d87dd637066"
            style="
              padding-top: 0px;
              padding-right: 0px;
              padding-bottom: 0px;
              padding-left: 0px;
            "
          >
            <!-- wp:post-featured-image {"isLink":true,"blockClientId":"890cdc40-5ef3-11ef-b050-7d87dd637066","align":"wide","className":"no-padding"} /-->

            <!-- wp:group {"blockClientId":"890d5171-5ef3-11ef-b050-7d87dd637066","align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"margin":{"top":"0px"},"blockGap":"10px"}},"backgroundColor":"dark-gray"} -->
            <div
              class="wp-block-group alignwide has-dark-gray-background-color has-background gutenify-section-890d5171-5ef3-11ef-b050-7d87dd637066"
              style="
                margin-top: 0px;
                padding-top: 40px;
                padding-right: 40px;
                padding-bottom: 40px;
                padding-left: 40px;
              "
            >
              <!-- wp:post-title {"level":3,"isLink":true,"blockClientId":"890cdc41-5ef3-11ef-b050-7d87dd637066","align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.4","fontSize":"1.3rem"}}} /-->

              <!-- wp:group {"blockClientId":"890d2a61-5ef3-11ef-b050-7d87dd637066","layout":{"type":"flex","flexWrap":"nowrap"}} -->
              <div
                class="wp-block-group gutenify-section-890d2a61-5ef3-11ef-b050-7d87dd637066"
              >
                <!-- wp:post-author {"avatarSize":24,"showBio":false,"blockClientId":"890d0350-5ef3-11ef-b050-7d87dd637066","fontSize":"small"} /-->

                <!-- wp:post-date {"format":"M j, Y","isLink":true,"blockClientId":"890d2a60-5ef3-11ef-b050-7d87dd637066","fontSize":"small"} /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:post-excerpt {"moreText":"Know More","blockClientId":"890d5170-5ef3-11ef-b050-7d87dd637066","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->

          <!-- wp:spacer {"height":"20px","blockClientId":"890d7881-5ef3-11ef-b050-7d87dd637066"} -->
          <div
            style="height: 20px"
            aria-hidden="true"
            class="wp-block-spacer gutenify-section-890d7881-5ef3-11ef-b050-7d87dd637066"
          ></div>
          <!-- /wp:spacer -->
          <!-- /wp:post-template -->

          <!-- wp:query-pagination {"paginationArrow":"arrow","blockClientId":"890e3bd0-5ef3-11ef-b050-7d87dd637066","align":"center","layout":{"type":"flex","justifyContent":"space-between"}} -->
          <!-- wp:query-pagination-previous {"blockClientId":"890e14c0-5ef3-11ef-b050-7d87dd637066","fontSize":"small"} /-->

          <!-- wp:query-pagination-numbers {"blockClientId":"890e14c1-5ef3-11ef-b050-7d87dd637066"} /-->

          <!-- wp:query-pagination-next {"blockClientId":"890e14c2-5ef3-11ef-b050-7d87dd637066","fontSize":"small"} /-->
          <!-- /wp:query-pagination -->
        </main>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"gutenify-biography","tagName":"footer","blockClientId":"890e89f0-5ef3-11ef-b050-7d87dd637066"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
