<!-- wp:columns {"blockClientId":"48def461-5ed9-11ef-95de-473c4a19ab94","metadata":{"name":"Main body"},"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background gutenify-section-48def461-5ed9-11ef-95de-473c4a19ab94"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","blockClientId":"48d83da0-5ed9-11ef-95de-473c4a19ab94","metadata":{"name":"Header Part"},"style":{"border":{"right":{"color":"var:preset|color|border","width":"1px"},"top":[],"bottom":[],"left":[]}},"backgroundColor":"background","layout":{"wideSize":""}} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-48d83da0-5ed9-11ef-95de-473c4a19ab94"
    style="
      border-right-color: var(--wp--preset--color--border);
      border-right-width: 1px;
      flex-basis: 400px;
    "
  >
    <!-- wp:template-part {"slug":"header","theme":"gutenify-biography","blockClientId":"48d81690-5ed9-11ef-95de-473c4a19ab94"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","blockClientId":"48def460-5ed9-11ef-95de-473c4a19ab94","metadata":{"name":"Contain Part"},"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-48def460-5ed9-11ef-95de-473c4a19ab94"
    style="
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    "
  >
    <!-- wp:group {"blockClientId":"48decd50-5ed9-11ef-95de-473c4a19ab94","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
    <div
      class="wp-block-group alignfull gutenify-section-48decd50-5ed9-11ef-95de-473c4a19ab94"
    >
      <!-- wp:pattern {"slug":"gutenify-biography/main-banner"} /-->
      <!-- wp:pattern {"slug":"gutenify-biography/hero-content"} /-->
      <!-- wp:pattern {"slug":"gutenify-biography/counter-up"} /-->
      <!-- wp:pattern {"slug":"gutenify-biography/gallery"} /-->
      <!-- wp:pattern {"slug":"gutenify-biography/latest-news"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"gutenify-biography","tagName":"footer","blockClientId":"48decd51-5ed9-11ef-95de-473c4a19ab94"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
