<!-- wp:columns {"blockClientId":"b91431a0-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background gutenify-section-b91431a0-5f9c-11ef-b005-51ab07cddc8e"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","blockClientId":"b90bf440-5f9c-11ef-b005-51ab07cddc8e","backgroundColor":"background","layout":{"wideSize":""}} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-b90bf440-5f9c-11ef-b005-51ab07cddc8e"
    style="flex-basis: 400px"
  >
    <!-- wp:template-part {"slug":"header","theme":"gutenify-biography","blockClientId":"b90ba620-5f9c-11ef-b005-51ab07cddc8e"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","blockClientId":"b913bc70-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-b913bc70-5f9c-11ef-b005-51ab07cddc8e"
    style="
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    "
  >
    <!-- wp:group {"blockClientId":"b912f920-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background","layout":{"inherit":true,"type":"constrained"}} -->
    <div
      class="wp-block-group has-background-background-color has-background gutenify-section-b912f920-5f9c-11ef-b005-51ab07cddc8e"
      style="
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
      "
    >
      <!-- wp:group {"blockClientId":"b90cb790-5f9c-11ef-b005-51ab07cddc8e","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|40","bottom":"var:preset|spacing|30","left":"var:preset|spacing|40"}}},"backgroundColor":"background","layout":{"inherit":true,"type":"constrained"}} -->
      <div
        class="wp-block-group alignwide has-background-background-color has-background gutenify-section-b90cb790-5f9c-11ef-b005-51ab07cddc8e"
        style="
          padding-top: var(--wp--preset--spacing--30);
          padding-right: var(--wp--preset--spacing--40);
          padding-bottom: var(--wp--preset--spacing--30);
          padding-left: var(--wp--preset--spacing--40);
        "
      >
        <!-- wp:group {"blockClientId":"b90c9080-5f9c-11ef-b005-51ab07cddc8e","align":"full","style":{"spacing":{"blockGap":"0px"}},"fontSize":"content-heading","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
        <div
          class="wp-block-group alignfull has-content-heading-font-size gutenify-section-b90c9080-5f9c-11ef-b005-51ab07cddc8e"
        >
          <!-- wp:post-title {"blockClientId":"b90c4260-5f9c-11ef-b005-51ab07cddc8e","textColor":"foreground","fontSize":"extra-large"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"blockClientId":"b912d210-5f9c-11ef-b005-51ab07cddc8e","align":"full"} -->
      <div
        class="wp-block-group alignfull gutenify-section-b912d210-5f9c-11ef-b005-51ab07cddc8e"
      >
        <!-- wp:group {"blockClientId":"b90dc900-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50","top":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"inherit":true,"type":"constrained"}} -->
        <div
          class="wp-block-group gutenify-section-b90dc900-5f9c-11ef-b005-51ab07cddc8e"
          style="
            padding-top: var(--wp--preset--spacing--50);
            padding-right: var(--wp--preset--spacing--40);
            padding-bottom: var(--wp--preset--spacing--50);
            padding-left: var(--wp--preset--spacing--40);
          "
        >
          <!-- wp:group {"blockClientId":"b90d7ae0-5f9c-11ef-b005-51ab07cddc8e"} -->
          <div
            class="wp-block-group gutenify-section-b90d7ae0-5f9c-11ef-b005-51ab07cddc8e"
          >
            <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search Now","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","blockClientId":"b90cdea0-5f9c-11ef-b005-51ab07cddc8e","align":"center","className":"transparent-field  field-light-color ","backgroundColor":"primary","textColor":"background","borderColor":"primary"} /-->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"blockClientId":"b912ab00-5f9c-11ef-b005-51ab07cddc8e","style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
        <div
          class="wp-block-group gutenify-section-b912ab00-5f9c-11ef-b005-51ab07cddc8e"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":"","offset":"","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","blockClientId":"b9119990-5f9c-11ef-b005-51ab07cddc8e","align":"wide","layout":{"contentSize":null,"type":"constrained"}} -->
          <main
            class="wp-block-query alignwide gutenify-section-b9119990-5f9c-11ef-b005-51ab07cddc8e"
          >
            <!-- wp:post-template {"blockClientId":"b9106110-5f9c-11ef-b005-51ab07cddc8e","align":"wide","layout":{"type":"grid","columnCount":2}} -->
            <!-- wp:group {"blockClientId":"b90f9dc0-5f9c-11ef-b005-51ab07cddc8e","className":"has-shadow-dark animated animated-fadeInUp","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
            <div
              class="wp-block-group has-shadow-dark animated animated-fadeInUp gutenify-section-b90f9dc0-5f9c-11ef-b005-51ab07cddc8e"
              style="
                padding-top: 0px;
                padding-right: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
              "
            >
              <!-- wp:post-featured-image {"isLink":true,"blockClientId":"b90e8c50-5f9c-11ef-b005-51ab07cddc8e","align":"wide","className":"no-padding"} /-->

              <!-- wp:group {"blockClientId":"b90f76b0-5f9c-11ef-b005-51ab07cddc8e","align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"},"margin":{"top":"0px"},"blockGap":"10px"}},"backgroundColor":"background-secondary"} -->
              <div
                class="wp-block-group alignwide has-background-secondary-background-color has-background gutenify-section-b90f76b0-5f9c-11ef-b005-51ab07cddc8e"
                style="
                  margin-top: 0px;
                  padding-top: 40px;
                  padding-right: 40px;
                  padding-bottom: 40px;
                  padding-left: 40px;
                "
              >
                <!-- wp:post-title {"level":3,"isLink":true,"blockClientId":"b90eb360-5f9c-11ef-b005-51ab07cddc8e","align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.4","fontSize":"1.3rem"}}} /-->

                <!-- wp:group {"blockClientId":"b90f2890-5f9c-11ef-b005-51ab07cddc8e","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div
                  class="wp-block-group gutenify-section-b90f2890-5f9c-11ef-b005-51ab07cddc8e"
                >
                  <!-- wp:post-date {"format":"M j, Y","isLink":true,"blockClientId":"b90eda70-5f9c-11ef-b005-51ab07cddc8e","fontSize":"small"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-excerpt {"moreText":"Know More","blockClientId":"b90f4fa0-5f9c-11ef-b005-51ab07cddc8e","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:spacer {"height":"20px","blockClientId":"b90febe0-5f9c-11ef-b005-51ab07cddc8e"} -->
            <div
              style="height: 20px"
              aria-hidden="true"
              class="wp-block-spacer gutenify-section-b90febe0-5f9c-11ef-b005-51ab07cddc8e"
            ></div>
            <!-- /wp:spacer -->
            <!-- /wp:post-template -->

            <!-- wp:query-pagination {"paginationArrow":"arrow","blockClientId":"b9114b70-5f9c-11ef-b005-51ab07cddc8e","align":"center","layout":{"type":"flex","justifyContent":"space-between"}} -->
            <!-- wp:query-pagination-previous {"blockClientId":"b910af30-5f9c-11ef-b005-51ab07cddc8e","fontSize":"small"} /-->

            <!-- wp:query-pagination-numbers {"blockClientId":"b910d640-5f9c-11ef-b005-51ab07cddc8e"} /-->

            <!-- wp:query-pagination-next {"blockClientId":"b9112460-5f9c-11ef-b005-51ab07cddc8e","fontSize":"small"} /-->
            <!-- /wp:query-pagination -->
          </main>
          <!-- /wp:query -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"gutenify-biography","tagName":"footer","blockClientId":"b9136e50-5f9c-11ef-b005-51ab07cddc8e"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
