<!-- wp:columns {"blockClientId":"07d0af10-5ef5-11ef-9b91-5342cbb6ba8a","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background-secondary"} -->
<div
  class="wp-block-columns has-background-secondary-background-color has-background gutenify-section-07d0af10-5ef5-11ef-9b91-5342cbb6ba8a"
  style="
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
  <!-- wp:column {"width":"400px","blockClientId":"07ccb770-5ef5-11ef-9b91-5342cbb6ba8a","backgroundColor":"background","layout":{"wideSize":""}} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-07ccb770-5ef5-11ef-9b91-5342cbb6ba8a"
    style="flex-basis: 400px"
  >
    <!-- wp:template-part {"slug":"header","theme":"gutenify-biography","blockClientId":"07cc9060-5ef5-11ef-9b91-5342cbb6ba8a"} /-->
  </div>
  <!-- /wp:column -->

  <!-- wp:column {"width":"","blockClientId":"07d08800-5ef5-11ef-9b91-5342cbb6ba8a","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
  <div
    class="wp-block-column has-background-background-color has-background gutenify-section-07d08800-5ef5-11ef-9b91-5342cbb6ba8a"
    style="
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    "
  >
    <!-- wp:group {"blockClientId":"07cfc4b0-5ef5-11ef-9b91-5342cbb6ba8a","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
    <div
      class="wp-block-group has-background-background-color has-background gutenify-section-07cfc4b0-5ef5-11ef-9b91-5342cbb6ba8a"
      style="
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
      "
    >
      <!-- wp:group {"blockClientId":"07cd0590-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|40","bottom":"var:preset|spacing|30","left":"var:preset|spacing|40"}},"border":{"bottom":{"width":"0px","style":"none"},"top":{},"right":{},"left":{}}},"layout":{"type":"default"}} -->
      <div
        class="wp-block-group alignwide gutenify-section-07cd0590-5ef5-11ef-9b91-5342cbb6ba8a"
        style="
          border-bottom-style: none;
          border-bottom-width: 0px;
          padding-top: var(--wp--preset--spacing--30);
          padding-right: var(--wp--preset--spacing--40);
          padding-bottom: var(--wp--preset--spacing--30);
          padding-left: var(--wp--preset--spacing--40);
        "
      >
        <!-- wp:group {"blockClientId":"07ccde81-5ef5-11ef-9b91-5342cbb6ba8a","align":"full","style":{"spacing":{"blockGap":"0px"}},"fontSize":"content-heading","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
        <div
          class="wp-block-group alignfull has-content-heading-font-size gutenify-section-07ccde81-5ef5-11ef-9b91-5342cbb6ba8a"
        >
          <!-- wp:post-title {"blockClientId":"07ccde80-5ef5-11ef-9b91-5342cbb6ba8a","textColor":"foreground","fontSize":"extra-large"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"tagName":"main","blockClientId":"07cf9da0-5ef5-11ef-9b91-5342cbb6ba8a","align":"full","className":"no-margin no-padding","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"background-secondary","layout":{"type":"default"}} -->
      <main
        class="wp-block-group alignfull no-margin no-padding has-background-secondary-background-color has-background gutenify-section-07cf9da0-5ef5-11ef-9b91-5342cbb6ba8a"
        style="
          padding-top: var(--wp--preset--spacing--50);
          padding-right: var(--wp--preset--spacing--40);
          padding-bottom: var(--wp--preset--spacing--50);
          padding-left: var(--wp--preset--spacing--40);
        "
      >
        <!-- wp:columns {"blockClientId":"07cf7690-5ef5-11ef-9b91-5342cbb6ba8a","align":"full"} -->
        <div
          class="wp-block-columns alignfull gutenify-section-07cf7690-5ef5-11ef-9b91-5342cbb6ba8a"
        >
          <!-- wp:column {"width":"70%","blockClientId":"07ceda51-5ef5-11ef-9b91-5342cbb6ba8a","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
          <div
            class="wp-block-column gutenify-section-07ceda51-5ef5-11ef-9b91-5342cbb6ba8a"
            style="
              padding-top: 0px;
              padding-right: 0px;
              padding-bottom: 0px;
              padding-left: 0px;
              flex-basis: 70%;
            "
          >
            <!-- wp:group {"tagName":"main","blockClientId":"07ceda50-5ef5-11ef-9b91-5342cbb6ba8a","className":"animated animated-fadeInUp","layout":{"inherit":false}} -->
            <main
              class="wp-block-group animated animated-fadeInUp gutenify-section-07ceda50-5ef5-11ef-9b91-5342cbb6ba8a"
            >
              <!-- wp:group {"blockClientId":"07ce1701-5ef5-11ef-9b91-5342cbb6ba8a","layout":{"inherit":true,"type":"constrained"}} -->
              <div
                class="wp-block-group gutenify-section-07ce1701-5ef5-11ef-9b91-5342cbb6ba8a"
              >
                <!-- wp:post-featured-image {"blockClientId":"07cda1d0-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","style":{"spacing":{"margin":{"bottom":"0px","top":"0px","right":"0px","left":"0px"}},"border":{"radius":"10px"}}} /-->

                <!-- wp:group {"blockClientId":"07cdeff1-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","layout":{"type":"flex","allowOrientation":false,"justifyContent":"left","flexWrap":"wrap"}} -->
                <div
                  class="wp-block-group alignwide gutenify-section-07cdeff1-5ef5-11ef-9b91-5342cbb6ba8a"
                >
                  <!-- wp:post-author {"showBio":false,"blockClientId":"07cdc8e0-5ef5-11ef-9b91-5342cbb6ba8a"} /-->

                  <!-- wp:post-date {"blockClientId":"07cdeff0-5ef5-11ef-9b91-5342cbb6ba8a"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-content {"blockClientId":"07ce1700-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","layout":{"inherit":false}} /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:group {"blockClientId":"07ce8c30-5ef5-11ef-9b91-5342cbb6ba8a","style":{"spacing":{"padding":{"top":"20px","bottom":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
              <div
                class="wp-block-group gutenify-section-07ce8c30-5ef5-11ef-9b91-5342cbb6ba8a"
                style="padding-top: 20px; padding-bottom: 20px"
              >
                <!-- wp:group {"blockClientId":"07ce6521-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","layout":{"type":"flex"}} -->
                <div
                  class="wp-block-group alignwide gutenify-section-07ce6521-5ef5-11ef-9b91-5342cbb6ba8a"
                >
                  <!-- wp:post-terms {"term":"category","blockClientId":"07ce3e10-5ef5-11ef-9b91-5342cbb6ba8a","fontSize":"small"} /-->

                  <!-- wp:post-terms {"term":"post_tag","blockClientId":"07ce6520-5ef5-11ef-9b91-5342cbb6ba8a","fontSize":"small"} /-->
                </div>
                <!-- /wp:group -->
              </div>
              <!-- /wp:group -->

              <!-- wp:group {"blockClientId":"07ceb340-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","className":"has-no-hover-shadow-dark animated animated-fadeInUp fadeInUp","style":{"spacing":{"blockGap":"80px","padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}},"backgroundColor":"background","layout":{"inherit":true,"type":"constrained"}} -->
              <div
                class="wp-block-group alignwide has-no-hover-shadow-dark animated animated-fadeInUp fadeInUp has-background-background-color has-background gutenify-section-07ceb340-5ef5-11ef-9b91-5342cbb6ba8a"
                style="
                  padding-top: 40px;
                  padding-right: 40px;
                  padding-bottom: 40px;
                  padding-left: 40px;
                "
              >
                <!-- wp:comments {"legacy":true,"blockClientId":"07ce8c31-5ef5-11ef-9b91-5342cbb6ba8a","align":"wide","className":"no-margin no-padding"} /-->
              </div>
              <!-- /wp:group -->
            </main>
            <!-- /wp:group -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"width":"30%","blockClientId":"07cf4f80-5ef5-11ef-9b91-5342cbb6ba8a"} -->
          <div
            class="wp-block-column gutenify-section-07cf4f80-5ef5-11ef-9b91-5342cbb6ba8a"
            style="flex-basis: 30%"
          >
            <!-- wp:template-part {"slug":"sidebar","theme":"gutenify-biography","tagName":"div","blockClientId":"07cf2870-5ef5-11ef-9b91-5342cbb6ba8a"} /-->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </main>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"gutenify-biography","tagName":"footer","blockClientId":"07d039e0-5ef5-11ef-9b91-5342cbb6ba8a"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
